

	<script type="text/javascript" src="app/components/Users/Users_Controller.js"></script>

	<div class="container column is-one-double" style="text-align:center;margin:auto;" ng-app="app" ng-controller="Controller_Users">
		<p class="title is-2"> Welcome in movie base ! </p>
		<img src="assets/img/home.jpg"></img>


	</div>
