


<div class="container column is-one-double" style="text-align:center;margin:auto;"  ng-controller ="MovieController">

  <!-- <img  style="max-width:120px; max-height:120px" src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" alt=""> -->

  <p class="title is-3"><b>{{movie.label}}</b></p>
  <!-- <iframe width="560" height="315" src="//www.youtube.com/embed/{{movie.videoId}}" frameborder="0" allowfullscreen></iframe> -->
  <div class = "content" style="font-size: 18px">
  <p>{{movie.description}}</p>
  <br>
  <p><span class="libelle">Year :</span>  {{formatDate(movie.releaseDate)}}</p>
  <p><span class="libelle">Genre :</span>  {{movie.genre}} </p>
  <p><span class="libelle">Studio :</span>  {{movie.studio}} </p>
  <p><span class="libelle">Imdb link :</span> <a href='https://www.imdb.com/title/{{movie.imdbId}}' target='_blank'>{{movie.label}}</a> </span></p>


  <p><span class="libelle">Average note :</span>  <span class="note">{{getNoteAverage(movie.comments)}} / 10 </span></p>
</div>
  <br>

  <!-- <p class="title is-5">ACTORS</p>
  <br>
  <div ng-repeat="actor in movie.casts">
  <p><b>{{actor.name}}</b> dans le rôle de <b>{{actor.character}}</b></p>
  <br> -->

  <p class="title is-4"> Commentary section</p>
  <div class="box" style="background-color:whitesmoke">
      <article ng-repeat="comment in movie.comments" class="media">
        <figure class="media-left">
          <p class="title is-3 note" >
            {{comment.note}} / 10
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p class = "title is-5">
              <strong>{{comment.name}}</strong>
            </p>
              {{comment.description}}
              <br>
            </p>
          </div>
        </div>
        <!-- <div class="media-right">
          <a class="button" ng-click="deleteComment(comment)">Delete</a>
        </div> -->

      </article>
  <article class="media">
    <div class="media-content">
      <div class="field">
        <label class="label">Your name</label>
        <p class="control">
          <input type="text" class="input" placeholder="Your name" ng-model="newComment.name"></textarea>
        </p>
      </div>
      <div class="field">
        <label class="label">Note</label>
        <div class="control">
          <div class="select">
            <select ng-model="newComment.note" required>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>

            </select>
          </div>
        </div>
      </div>
      <div class="field">
        <p class="control">
          <textarea class="textarea" ng-model="newComment.description" placeholder="Add a comment..."></textarea>
        </p>
      </div>

      <nav class="level">
        <div class="level-left">
          <div class="level-item">
            <a class="button is-info" ng-hide="isCommentSent" ng-click="sendComment()">Submit</a>
          </div>
        </div>
      </nav>
    </div>
  </article>
  <div ng-show="isCommentSent" class="notification is-primary">
    <button class="delete"></button>
    Comment has been successfuly sent !
  </div>
</div>


</div>
