


<div class="container column is-one-double" style="text-align:center;margin:auto;"  ng-controller ="PersonController">

  <!-- <img  style="max-width:120px; max-height:120px" src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" alt=""> -->

  <p class="title is-3"><b>{{person.label}}</b></p>
  <!-- <iframe width="560" height="315" src="//www.youtube.com/embed/{{movie.videoId}}" frameborder="0" allowfullscreen></iframe> -->
  <div class = "content" style="font-size: 18px">
  <p>{{person.biography}}</p>
  <br>
  <p ng-show="person.birthplace != null && person.birthplace != ''"><span class="libelle">Birthplace :</span>  {{person.birthplace}}</p>

</div>
  <br>

  <div ng-show = "isLoading" class="loader">
  </div>

  <div ng-show="person.director != null && person.director.length != 0">
  <p class="title is-4">Movie directed</p>
  <br>
  <div ng-repeat="director in person.director">
    <b>{{director.movie[0].label}}</b>
  </div>
</div>
  <div ng-show="person.actor != null && person.actor.length != 0">
  <p class="title is-4">Actor</p>
  <br>
  <div ng-repeat="actor in person.actor">
  <p><b>{{actor.name}}</b> in the movie <b>{{actor.movie[0].label}}</b></p>
  <br>
  </div>
</div>
</div>

</div>
