
      <div class="container" ng-controller = "SearchController">
      <h1 class="title is-3">Search movies / Person</h1>
      <p class="control">
        <label class="label">Type</label>

        <select ng-model="searchFilter.type">
          <option value="Person">Person</option>
          <option value="Movie">Movie</option>
        </select>
      </p>
      <p class="control">
        <label class="label">Name: </label>
        <input class="input" type="text" id="search_movies" ng-model="searchFilter.name"/>
      </p>
      <p class="control" ng-click="search()">
        <input class="button is-dark" type="button" value="Search"/>
      </p>
      <div ng-show = "isLoading" class="loader">
      </div>
      <div class="columns is-multiline">
      <div class="column is-one-quarter" style="text-align:center;" ng-repeat="entity in entities">
          <a href="#!/{{entity.type.toLowerCase()}}?id={{entity.id}}" >
          <!-- <img  style="max-width:120px; max-height:120px" src="{{entity.imageUrl}}" alt=""> -->

            <p class="title is-5">{{entity.label}}</p>
        </a>
      </div>

    </div>
	</div>
