<div class="container column is-one-three" style="text-align:center;margin:auto;"  ng-controller ="StatsController">

  <!-- <img  style="max-width:120px; max-height:120px" src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" alt=""> -->

  <p class="title is-2"><b>Statistics</b></p>

  <p> <span class = "libelle">Number of movies: {{count.movies}}</span>
    <p> <span class = "libelle">Number of persons: {{count.persons}}</span>


  <p class="title is-4" style="margin-top:50px"><b> Movies genre rate</b></p>
  <canvas id="pie" class="chart chart-pie" width = "1200px"
    chart-data="genreDatas" chart-labels="genreLabels" chart-options="pieOptions">
  </canvas>

  <p class="title is-4" style="margin-top:50px"><b> Top 15 studios with the most movies</b></p>

  <canvas id="bar" class="chart chart-bar" width="1200px" chart-options="barOptions"
  chart-data="studioDatas" chart-labels="studioLabels">
</canvas>
