.nav{
	background-color: #e23636;
    margin-bottom: 20px;
}
.nav .nav-item{
	color:white;
}

.columns{
	margin:20px;
}

.loader {
	margin: 0 auto;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #e23636;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 1s linear infinite;
}

.note{
	color:#ff7f00;
	font-weight: 500
}
.libelle{
	font-weight:500;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
